# Ingesting Movies Data Into Postgres

## Installing Libraries

In [1]:
!pip install psycopg2
!pip install pandas

Requirement already satisfied: psycopg2 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (2.9.9)
Requirement already satisfied: pandas in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import psycopg2
import pandas as pd

## Connecting to Postgres

In [3]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=Christopher.J.Lu password=Housepen67!")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

Creating a cursor to execute our queries.

In [4]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

Setting session's autocommit to true so we don't have to manually call commit after every transaction.

In [5]:
conn.set_session(autocommit=True)

## Creating a Database

In [6]:
try: 
    cur.execute("drop database movies if exists")
    cur.execute("create database movies")
except psycopg2.Error as e:
    print(e)

syntax error at or near "if"
LINE 1: drop database movies if exists
                             ^

## Connecting to Database

## Ingesting Data From Files

In [7]:
imdb_data = pd.read_csv('../data/imdb_top_1000.csv')
oscar_data = pd.read_csv('../data/the_oscar_award.csv')

## Light Data Processing

Let's look at the data first:

In [8]:
imdb_data.head(10)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"

We can use the columns in this dataframe to create our Movies table (refer to the ER diagram in the README):
- Movie_ID -> We'll just use the dataframe index here
- Series_Title -> Rename to Movie_Title
- Released_Year
- Certificate
- Runtime -> Rename to Runtime_Minutes
- Genre

We can also use these columns to create our Movie_Ratings table:
- Movie_ID (We will join this to our Movies table using Movie Title to get the Movie_ID)
- IMDB_Rating
- Meta_score -> Rename to Metacritic_Score
- No_of_Votes -> Rename to No_of_IMDB_Votes

Finally, we can also get our Movie_Box_Office table:
- Movie_ID (We will join this to our Movies table using Movie Title to get the Movie_ID)
- Gross -> Rename to Gross_USD

Let's add our Movie_ID primary column to the base imdb_data set since we'll be using it in all our tables.

In [9]:
imdb_data.insert(0, 'Movie_ID', imdb_data.index + 1)
imdb_data.head()

,Movie_ID,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,1,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,2,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,3,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,4,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,5,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

Now, let's drop the columns we won't be needing.

In [10]:
to_drop = [
    'Poster_Link',
    'Overview',
    'Star1',
    'Star2',
    'Star3',
    'Star4',
]

imdb_data.drop(to_drop, inplace=True, axis=1)
imdb_data.head()

,Movie_ID,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross
0,1,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,2343110,"28,341,469"
1,2,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,1620367,"134,966,411"
2,3,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,2303232,"534,858,444"
3,4,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,1129952,"57,300,000"
4,5,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,689845,"4,360,000"

In [11]:
# Getting the columns we need
movies_raw = imdb_data[["Movie_ID", "Series_Title", "Released_Year", "Certificate", "Runtime", "Genre", "Director"]]
movies_raw.head()

,Movie_ID,Series_Title,Released_Year,Certificate,Runtime,Genre,Director
0,1,The Shawshank Redemption,1994,A,142 min,Drama,Frank Darabont
1,2,The Godfather,1972,A,175 min,"Crime, Drama",Francis Ford Coppola
2,3,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",Christopher Nolan
3,4,The Godfather: Part II,1974,A,202 min,"Crime, Drama",Francis Ford Coppola
4,5,12 Angry Men,1957,U,96 min,"Crime, Drama",Sidney Lumet

In [12]:
# Renaming the columns
movies_temp = movies_raw
movies_temp.rename(columns={'Series_Title':'Movie_Title', 'Runtime':'Runtime_Minutes'}, inplace=True)
movies_temp.head()

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/2227702340.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp.rename(columns={'Series_Title':'Movie_Title', 'Runtime':'Runtime_Minutes'}, inplace=True)

,Movie_ID,Movie_Title,Released_Year,Certificate,Runtime_Minutes,Genre,Director
0,1,The Shawshank Redemption,1994,A,142 min,Drama,Frank Darabont
1,2,The Godfather,1972,A,175 min,"Crime, Drama",Francis Ford Coppola
2,3,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",Christopher Nolan
3,4,The Godfather: Part II,1974,A,202 min,"Crime, Drama",Francis Ford Coppola
4,5,12 Angry Men,1957,U,96 min,"Crime, Drama",Sidney Lumet

In [13]:
# We need to convert Runtime_Minutes into a integer field by removing the " min" from the data and 
# changing the data type of the column from varchar to integer.
movies_temp["Runtime_Minutes"] = pd.to_numeric(movies_temp["Runtime_Minutes"].replace(" min", "", regex=True))

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/3606572449.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp["Runtime_Minutes"] = pd.to_numeric(movies_temp["Runtime_Minutes"].replace(" min", "", regex=True))

In [14]:
movies_temp["Released_Year"] = pd.to_numeric(movies_temp["Released_Year"], errors='coerce', downcast='integer')
movies_temp.dropna(inplace=True)
movies_temp["Released_Year"] = movies_temp["Released_Year"].astype(int)
movies_clean = movies_temp
movies_clean.head()

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/3868932820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp["Released_Year"] = pd.to_numeric(movies_temp["Released_Year"], errors='coerce', downcast='integer')
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/3868932820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp.dropna(inplace=True)
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/3868932820.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_temp["Released_Year"] = movies_temp["Released_Year"].astype(int)

,Movie_ID,Movie_Title,Released_Year,Certificate,Runtime_Minutes,Genre,Director
0,1,The Shawshank Redemption,1994,A,142,Drama,Frank Darabont
1,2,The Godfather,1972,A,175,"Crime, Drama",Francis Ford Coppola
2,3,The Dark Knight,2008,UA,152,"Action, Crime, Drama",Christopher Nolan
3,4,The Godfather: Part II,1974,A,202,"Crime, Drama",Francis Ford Coppola
4,5,12 Angry Men,1957,U,96,"Crime, Drama",Sidney Lumet

Let's make the Movie_Ratings dataframe here:

In [15]:
movie_ratings_temp = imdb_data[["Movie_ID", "IMDB_Rating", "Meta_score", "No_of_Votes"]]
movie_ratings_temp.dropna(inplace=True)
movie_ratings_temp.head()

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/2238758908.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_ratings_temp.dropna(inplace=True)

   Movie_ID  IMDB_Rating  Meta_score  No_of_Votes
0         1          9.3        80.0      2343110
1         2          9.2       100.0      1620367
2         3          9.0        84.0      2303232
3         4          9.0        90.0      1129952
4         5          9.0        96.0       689845

In [16]:
# We'll do some similar light processing here:
movie_ratings_temp = movie_ratings_temp.rename(columns={'Meta_score':'Metacritic_Score', 'No_of_Votes':'No_of_IMDB_Votes'})
movie_ratings_temp.insert(0, 'Rating_ID', movie_ratings_temp.index + 1)
movie_ratings_temp['Metacritic_Score'] = movie_ratings_temp['Metacritic_Score'].astype(int)
movie_ratings_clean = movie_ratings_temp

We now have our processed data for Movies and Movie_Ratings. Let's process our Movie_Box_Office data.

In [17]:
movie_box_office_temp = imdb_data[["Movie_ID", "Gross"]]
movie_box_office_temp.rename({'Gross':'Gross_USD'})
movie_box_office_temp.insert(0, 'Movie_Box_Office_ID', movie_box_office_temp.index + 1)
movie_box_office_temp['Gross'].replace(",", "", regex=True, inplace=True)
movie_box_office_temp.dropna(inplace=True)
movie_box_office_temp['Gross'] = movie_box_office_temp['Gross'].astype(int)
movie_box_office_clean = movie_box_office_temp

/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/353731734.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_box_office_temp['Gross'].replace(",", "", regex=True, inplace=True)
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/353731734.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_box_office_temp.dropna(inplace=True)
/var/folders/0d/zlx05bv95f3d2btffmx_j44c0000gp/T/ipykernel_77647/353731734.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_box_office_temp['Gross'] = movie_box_office_temp['Gross'].astype(int)

Lastly, let's get our Oscar_Nominations data. This comes from a different file that we ingested into our oscar_data DataFrame.

In [18]:
to_drop = [
    "year_ceremony",
    "ceremony",
    "name"
]

oscar_data.drop(to_drop, inplace=True, axis=1)

In [19]:
oscar_data.head(50)

,year_film,category,film,winner
0,1927,ACTOR,The Noose,False
1,1927,ACTOR,The Last Command,True
2,1927,ACTRESS,A Ship Comes In,False
3,1927,ACTRESS,7th Heaven,True
4,1927,ACTRESS,Sadie Thompson,False
5,1927,ART DIRECTION,Sunrise,False
6,1927,ART DIRECTION,The Dove;,True
7,1927,ART DIRECTION,7th Heaven,False
8,1927,CINEMATOGRAPHY,The Devil Dancer;,False
9,1927,CINEMATOGRAPHY,Sunrise,True
10,1927,CINEMATOGRAPHY,Sunrise,True
11,1927,DIRECTING (Comedy Picture),Two Arabian Knights,True
12,1927,DIRECTING (Comedy Picture),Speedy,False
13,1927,DIRECTING (Dramatic Picture),7th Heaven,True
14,1927,DIRECTING (Dramatic Picture),Sorrell and Son,False
15,1927,DIRECTING (Dramatic Picture),The Crowd,False
16,1927,ENGINEERING EFFECTS,NaN,False
17,1927,ENGINEERING EFFECTS,Wings,True
18,1927,ENGINEERING EFFECTS,NaN,False
19,1927,OUTSTANDING PICTURE,The Racket,False
20,1927,OUTSTANDING PICTURE,7th Heaven,False
21,1927,OUTSTANDING PICTURE,Wings,True
22,1927,UNIQUE AND ARTISTIC PICTURE,Sunrise,True
23,1927,UNIQUE AND ARTISTIC PICTURE,The Crowd,False
24,1927,UNIQUE AND ARTISTIC PICTURE,Chang,False
25,1927,WRITING (Adaptation),The Jazz Singer,False
26,1927,WRITING (Adaptation),Glorious Betsy,False
27,1927,WRITING (Adaptation),7th Heaven,True
28,1927,WRITING (Original Story),The Last Command,False
29,1927,WRITING (Original Story),Underworld,True
30,1927,WRITING (Title Writing),The Private Life of Helen of Troy,False
31,1927,WRITING (Title Writing),NaN,True
32,1927,WRITING (Title Writing),NaN,False
33,1927,SPECIAL AWARD,NaN,True
34,1927,SPECIAL AWARD,NaN,True
35,1928,ACTOR,Thunderbolt,False
36,1928,ACTOR,In Old Arizona,True
37,1928,ACTOR,Alibi,False
38,1928,ACTOR,The Valiant,False
39,1928,ACTOR,The Patriot,False
40,1928,ACTRESS,Madame X,False
41,1928,ACTRESS,The Barker,False
42,1928,ACTRESS,The Letter,False
43,1928,ACTRESS,The Divine Lady,False
44,1928,ACTRESS,The Broadway Melody,False
45,1928,ACTRESS,Coquette,True
46,1928,ART DIRECTION,The Patriot,False
47,1928,ART DIRECTION,The Bridge of San Luis Rey,True
48,1928,ART DIRECTION,Dynamite,False
49,1928,ART DIRECTION,Alibi;,False

In [20]:
oscar_data.rename(columns={'category':'Category', 'winner': 'Won_Oscar', 'film':'Movie_Title', 'year_film':'Released_Year'}, inplace=True)

In [21]:
oscar_data.dropna(inplace=True)

Now we need to get the movie_ids from our movie dataframe. We can do this by joining on the movie title and film columns.

In [22]:
oscar_data = oscar_data.merge(movies_clean, on=['Movie_Title', 'Released_Year'])

In [23]:
oscar_data.dropna(inplace=True)
oscar_data.head()

,Released_Year,Category,Movie_Title,Won_Oscar,Movie_ID,Certificate,Runtime_Minutes,Genre,Director
0,1934,ACTOR,It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra
1,1934,ACTRESS,It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra
2,1934,DIRECTING,It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra
3,1934,OUTSTANDING PRODUCTION,It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra
4,1934,WRITING (Adaptation),It Happened One Night,True,317,Approved,105,"Comedy, Romance",Frank Capra

Now let's do our data processing (dropping the unneeded columns, adding in our unique id column, etc)

In [24]:
to_drop = [
    'Movie_Title',
    'Released_Year',
    'Director',
    'Certificate',
    'Runtime_Minutes',
    'Genre'
]

oscar_nominations_temp = oscar_data.drop(to_drop, axis=1)

In [25]:
oscar_nominations_temp.insert(0, 'Oscar_Nomination_ID', oscar_data.index + 1)
oscar_nominations_clean = oscar_nominations_temp

We finally have all the data we need. Here are the final dataframes for each of our 4 tables.

In [26]:
movies_clean

,Movie_ID,Movie_Title,Released_Year,Certificate,Runtime_Minutes,Genre,Director
0,1,The Shawshank Redemption,1994,A,142,Drama,Frank Darabont
1,2,The Godfather,1972,A,175,"Crime, Drama",Francis Ford Coppola
2,3,The Dark Knight,2008,UA,152,"Action, Crime, Drama",Christopher Nolan
3,4,The Godfather: Part II,1974,A,202,"Crime, Drama",Francis Ford Coppola
4,5,12 Angry Men,1957,U,96,"Crime, Drama",Sidney Lumet
...,...,...,...,...,...,...,...
993,994,Blowup,1966,A,111,"Drama, Mystery, Thriller",Michelangelo Antonioni
994,995,A Hard Day's Night,1964,U,87,"Comedy, Music, Musical",Richard Lester
995,996,Breakfast at Tiffany's,1961,A,115,"Comedy, Drama, Romance",Blake Edwards
996,997,Giant,1956,G,201,"Drama, Western",George Stevens
997,998,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",Fred Zinnemann

In [27]:
movie_ratings_clean

     Rating_ID  Movie_ID  IMDB_Rating  Metacritic_Score  No_of_IMDB_Votes
0            1         1          9.3                80           2343110
1            2         2          9.2               100           1620367
2            3         3          9.0                84           2303232
3            4         4          9.0                90           1129952
4            5         5          9.0                96            689845
..         ...       ...          ...               ...               ...
995        996       996          7.6                76            166544
996        997       997          7.6                84             34075
997        998       998          7.6                85             43374
998        999       999          7.6                78             26471
999       1000      1000          7.6                93             51853

[843 rows x 5 columns]

In [28]:
movie_box_office_clean

     Movie_Box_Office_ID  Movie_ID      Gross
0                      1         1   28341469
1                      2         2  134966411
2                      3         3  534858444
3                      4         4   57300000
4                      5         5    4360000
..                   ...       ...        ...
990                  991       991     696690
991                  992       992    1378435
992                  993       993  141843612
994                  995       995   13780024
997                  998       998   30500000

[831 rows x 3 columns]

In [29]:
oscar_nominations_clean

      Oscar_Nomination_ID                       Category  Won_Oscar  Movie_ID
0                       1                          ACTOR       True       317
1                       2                        ACTRESS       True       317
2                       3                      DIRECTING       True       317
3                       4         OUTSTANDING PRODUCTION       True       317
4                       5           WRITING (Adaptation)       True       317
...                   ...                            ...        ...       ...
2079                 2080                   BEST PICTURE      False       613
2080                 2081  WRITING (Original Screenplay)      False       613
2081                 2082          ANIMATED FEATURE FILM       True       206
2082                 2083         MUSIC (Original Score)       True       206
2083                 2084                          SOUND      False       206

[2084 rows x 4 columns]

## Creating the Tables

The next step is to create the tables in Postgres with compatible schema details.

In [30]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS movies (movie_id int, title varchar,\
    released_year int, certificate varchar, runtime_minutes int, genre varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [31]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS movie_ratings (rating_id int, movie_id int,\
    IMDB_rating numeric, metacritic_score int, no_of_IMDB_votes int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [32]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS movie_box_office (box_office_id int, movie_id int,\
    gross int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [33]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS oscar_nominations (oscar_nomination_id int, movie_id int,\
    category varchar, won_oscar boolean);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [34]:
cur.execute("SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname = 'public';")
cur.fetchall()

[('movies',),
 ('movie_ratings',),
 ('movie_box_office',),
 ('oscar_nominations',)]

## Ingesting the Data

We will use sqlalchemy to insert a Pandas dataframe into Postgres.

In [35]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/Christopher.J.Lu/anaconda3/lib/python3.11/site-packages (1.4.39)

In [36]:
from sqlalchemy import create_engine

In [37]:
conn_string = 'postgresql://Christopher.J.Lu:Housepen67!@127.0.0.1/postgres'
  
db = create_engine(conn_string) 
sql_conn = db.connect()

In [38]:
movies_clean.to_sql('movies', con=sql_conn, if_exists='replace', 
          index=False)

898

In [39]:
movie_ratings_clean.to_sql('movie_ratings', con=sql_conn, if_exists='replace', index=False)

843

In [40]:
movie_box_office_clean.to_sql('movie_box_office', con=sql_conn, if_exists='replace', index=False)

831

In [41]:
oscar_nominations_clean.to_sql('oscar_nominations', con=sql_conn, if_exists='replace', index=False)

84

In [42]:
cur.execute("SELECT * FROM movies LIMIT 10;")
cur.fetchall()

[(1, 'The Shawshank Redemption', 1994, 'A', 142, 'Drama', 'Frank Darabont'),
 (2, 'The Godfather', 1972, 'A', 175, 'Crime, Drama', 'Francis Ford Coppola'),
 (3,
  'The Dark Knight',
  2008,
  'UA',
  152,
  'Action, Crime, Drama',
  'Christopher Nolan'),
 (4,
  'The Godfather: Part II',
  1974,
  'A',
  202,
  'Crime, Drama',
  'Francis Ford Coppola'),
 (5, '12 Angry Men', 1957, 'U', 96, 'Crime, Drama', 'Sidney Lumet'),
 (6,
  'The Lord of the Rings: The Return of the King',
  2003,
  'U',
  201,
  'Action, Adventure, Drama',
  'Peter Jackson'),
 (7, 'Pulp Fiction', 1994, 'A', 154, 'Crime, Drama', 'Quentin Tarantino'),
 (8,
  "Schindler's List",
  1993,
  'A',
  195,
  'Biography, Drama, History',
  'Steven Spielberg'),
 (9,
  'Inception',
  2010,
  'UA',
  148,
  'Action, Adventure, Sci-Fi',
  'Christopher Nolan'),
 (10, 'Fight Club', 1999, 'A', 139, 'Drama', 'David Fincher')]

In [43]:
cur.execute("SELECT * FROM movie_ratings LIMIT 10;")
cur.fetchall()

[(1, 1, 9.3, 80, 2343110),
 (2, 2, 9.2, 100, 1620367),
 (3, 3, 9.0, 84, 2303232),
 (4, 4, 9.0, 90, 1129952),
 (5, 5, 9.0, 96, 689845),
 (6, 6, 8.9, 94, 1642758),
 (7, 7, 8.9, 94, 1826188),
 (8, 8, 8.9, 94, 1213505),
 (9, 9, 8.8, 74, 2067042),
 (10, 10, 8.8, 66, 1854740)]

In [44]:
cur.execute("SELECT * FROM movie_box_office LIMIT 10;")
cur.fetchall()

[(1, 1, 28341469),
 (2, 2, 134966411),
 (3, 3, 534858444),
 (4, 4, 57300000),
 (5, 5, 4360000),
 (6, 6, 377845905),
 (7, 7, 107928762),
 (8, 8, 96898818),
 (9, 9, 292576195),
 (10, 10, 37030102)]

In [45]:
cur.execute("SELECT * FROM oscar_nominations LIMIT 100;")
cur.fetchall()

[(1, 'ACTOR', True, 317),
 (2, 'ACTRESS', True, 317),
 (3, 'DIRECTING', True, 317),
 (4, 'OUTSTANDING PRODUCTION', True, 317),
 (5, 'WRITING (Adaptation)', True, 317),
 (6, 'ACTOR', False, 461),
 (7, 'DIRECTING', False, 461),
 (8, 'OUTSTANDING PRODUCTION', False, 461),
 (9, 'WRITING (Adaptation)', False, 461),
 (10, 'ART DIRECTION', True, 565),
 (11, 'FILM EDITING', True, 565),
 (12, 'MUSIC (Original Score)', True, 565),
 (13, 'OUTSTANDING PRODUCTION', False, 565),
 (14, 'ACTOR', False, 315),
 (15, 'ACTRESS', True, 315),
 (16, 'ACTRESS IN A SUPPORTING ROLE', False, 315),
 (17, 'ACTRESS IN A SUPPORTING ROLE', True, 315),
 (18, 'ART DIRECTION', True, 315),
 (19, 'CINEMATOGRAPHY (Color)', True, 315),
 (20, 'DIRECTING', True, 315),
 (21, 'FILM EDITING', True, 315),
 (22, 'MUSIC (Original Score)', False, 315),
 (23, 'OUTSTANDING PRODUCTION', True, 315),
 (24, 'SOUND RECORDING', False, 315),
 (25, 'SPECIAL EFFECTS', False, 315),
 (26, 'WRITING (Screenplay)', True, 315),
 (27, 'ACTOR', False, 314),
 (28, 'ACTOR IN A SUPPORTING ROLE', False, 314),
 (29, 'ACTOR IN A SUPPORTING ROLE', False, 314),
 (30, 'ART DIRECTION', False, 314),
 (31, 'DIRECTING', False, 314),
 (32, 'FILM EDITING', False, 314),
 (33, 'MUSIC (Scoring)', False, 314),
 (34, 'OUTSTANDING PRODUCTION', False, 314),
 (35, 'SOUND RECORDING', False, 314),
 (36, 'WRITING (Original Story)', True, 314),
 (37, 'WRITING (Screenplay)', False, 314),
 (38, 'ACTOR IN A SUPPORTING ROLE', True, 714),
 (39, 'ART DIRECTION', False, 714),
 (40, 'CINEMATOGRAPHY (Black-and-White)', False, 714),
 (41, 'DIRECTING', False, 714),
 (42, 'FILM EDITING', False, 714),
 (43, 'MUSIC (Scoring)', True, 714),
 (44, 'OUTSTANDING PRODUCTION', False, 714),
 (45, 'ART DIRECTION', False, 459),
 (46, 'CINEMATOGRAPHY (Color)', False, 459),
 (47, 'MUSIC (Original Score)', True, 459),
 (48, 'MUSIC (Song)', True, 459),
 (49, 'OUTSTANDING PRODUCTION', False, 459),
 (50, 'SPECIAL EFFECTS', False, 459),
 (51, 'ACTOR', False, 84),
 (52, 'ACTOR IN A SUPPORTING ROLE', False, 84),
 (53, 'MUSIC (Original Score)', False, 84),
 (54, 'OUTSTANDING PRODUCTION', False, 84),
 (55, 'WRITING (Original Screenplay)', False, 84),
 (56, 'ACTOR', False, 458),
 (57, 'ACTRESS IN A SUPPORTING ROLE', True, 458),
 (58, 'DIRECTING', True, 458),
 (59, 'FILM EDITING', False, 458),
 (60, 'OUTSTANDING PRODUCTION', False, 458),
 (61, 'SOUND RECORDING', False, 458),
 (62, 'WRITING (Screenplay)', False, 458),
 (63, 'ACTOR', False, 313),
 (64, 'ACTRESS', False, 313),
 (65, 'ACTRESS IN A SUPPORTING ROLE', False, 313),
 (66, 'ART DIRECTION (Black-and-White)', False, 313),
 (67, 'CINEMATOGRAPHY (Black-and-White)', True, 313),
 (68, 'DIRECTING', False, 313),
 (69, 'FILM EDITING', False, 313),
 (70, 'MUSIC (Original Score)', False, 313),
 (71, 'OUTSTANDING PRODUCTION', True, 313),
 (72, 'SPECIAL EFFECTS', False, 313),
 (73, 'WRITING (Screenplay)', False, 313),
 (74, 'ACTOR', False, 125),
 (75, 'ART DIRECTION (Black-and-White)', False, 125),
 (76, 'CINEMATOGRAPHY (Black-and-White)', False, 125),
 (77, 'DIRECTING', False, 125),
 (78, 'FILM EDITING', False, 125),
 (79, 'MUSIC (Music Score of a Dramatic Picture)', False, 125),
 (80, 'OUTSTANDING MOTION PICTURE', False, 125),
 (81, 'SOUND RECORDING', False, 125),
 (82, 'WRITING (Original Screenplay)', True, 125),
 (83, 'MUSIC (Music Score of a Dramatic or Comedy Picture)', False, 193),
 (84, 'WRITING (Original Motion Picture Story)', False, 713),
 (85, 'ACTOR IN A SUPPORTING ROLE', False, 454),
 (86, 'ART DIRECTION (Black-and-White)', False, 454),
 (87, 'CINEMATOGRAPHY (Black-and-White)', True, 454),
 (88, 'DIRECTING', False, 454),
 (89, 'WRITING (Screenplay)', False, 454),
 (90, 'ACTRESS', False, 124),
 (91, 'CINEMATOGRAPHY (Black-and-White)', False, 124),
 (92, 'DIRECTING', False, 124),
 (93, 'MUSIC (Music Score of a Dramatic or Comedy Picture)', False, 124),
 (94, 'BEST MOTION PICTURE', False, 124),
 (95, 'SOUND RECORDING', False, 124),
 (96, 'WRITING (Screenplay)', False, 124),
 (97, 'ACTOR', True, 562),
 (98, 'CINEMATOGRAPHY (Black-and-White)', False, 562),
 (99, 'DIRECTING', True, 562),
 (100, 'FILM EDITING', False, 562)]